
AspNetTests/obj/

AspNetTests/bin/

*.vspscc

Core/bin/

Core/obj/

*.pfx

Core\.Implementation/bin/

Core\.Implementation/obj/

ImplementationTests/bin/

ImplementationTests/obj/

OrlemSoftware\.CoreImplementation\.ASPNet/bin/

OrlemSoftware\.CoreImplementation\.ASPNet/obj/

packages/

WpfTestApp/bin/

WpfTestApp/obj/

OrlemSoftware\.Wpf\.Core/bin/

OrlemSoftware\.Wpf\.Core/obj/

OrlemSoftware\.Wpf\.Core\.Implementation/bin/

OrlemSoftware\.Wpf\.Core\.Implementation/obj/

OrlemSoftware\.Wpf\.Mvvm\.Core/bin/

OrlemSoftware\.Wpf\.Mvvm\.Core/obj/

OrlemSoftware\.Wpf\.Mvvm\.Core\.Implementation/bin/

OrlemSoftware\.Wpf\.Mvvm\.Core\.Implementation/obj/

test/bin/

test/obj/
